<header class="c-page__header">
    <h1><a href="{{ "/" | prepend: site.baseurl }}">{{ site.description}}</a> </h1>
    <h1></h1>

   
    <p>
        <a href="{{ "/" | prepend: site.baseurl }}">Home</a>
        <span class="u-separate"></span>
         <a href="{{ "/projects/" | prepend:site.baseurl }}">Projects</a>
          <span class="u-separate"></span> 
          <a href="{{ "/posts/" | prepend:site.baseurl }}">Blog</a>
          <span class="u-separate"></span> 
          <a href="{{ "/hello/" | prepend: site.baseurl }}">Contact</a>
          
          
    </p>
</header>
